{% extends 'perros/base.html' %}

{% block title %}Resultados - AdoptaMascotasAQP{% endblock %}

{% block content %}
<div class="resultados-content">
    <h2>Resultados de la búsqueda</h2>
    <ul>
        {% for perro in perros %}
            <li>
                <img src="{{ perro.imagen.url }}" alt="{{ perro.nombre }}">
                <p>Nombre: {{ perro.nombre }}</p>
                <p>Descripción: {{ perro.descripcion }}</p>
                <p>Temperamento: {{ perro.temperamento }}</p>
                <p>Necesidades Especiales: {{ perro.necesidades_especiales }}</p>
                <p>Tamaño: {{ perro.tamano }}</p>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
